.view{
    height: 100%;
    background-size: cover;
    background-position: center;
}

.back-btn{
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}

img{
  border-radius: 0;
  width: 100%!important;
  height: 500px!important;
  margin: 0 auto;
}

ion-row{
  background: var( --ion-color-secondary-shade);
  border-radius: 5px;
}
